.login {
  position: relative;
  text-align: center;
  top: 40vh;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message-sent {
  animation: mymove 1s forwards;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  font-weight: 30px;
  text-align: right;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.message-received {
  animation: mymove 1s forwards;
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 30px;
  text-align: left;
  font-weight: 30px;
}

.header {
  text-align: center;
  width: 100vw;
  position: fixed;
  background-color: gray;
  z-index: 10000;
}

.image {
  border: 4px solid #004c8c;
  height: 100px;
  border-radius: 200px;
  flex: 1;
}

.background-chat {
  position: relative;
  height: 120vh !important;
  background-color: #58a5f0;
}

.form {
  position: fixed;
  bottom: 2px;
  position: flex;
  height: 20px;
  z-index: 1000;
}
.btn-outline-secondary {
  background-color: white;
}
body {
  position: relative;
  background-color: #58a5f0;
}
.text-sent {
  background-color: gray;
  border-radius: 200px;
  flex: 200;
  text-align: center;
}
.text-received {
  background-color: #194f85;
  border-radius: 200px;
  flex: 200;
  text-align: center;
}
